header {
    background-color: rgb(178, 178, 178);
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(1, 1, 127);
}

section {
    background-color: rgb(127, 127, 127);
}

a {
    color: rgb(0, 0, 0);
    background-color: rgb(176, 180, 183);
    text-align: center;
}

img {
    display: none;
}
